<nav class="navbar navbar-expand-lg navbar-light bg-light ml-5">
<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
    <a class="nav-item nav-link active" href="{{path('admin')}}">Admin</a>
    <a class="nav-item nav-link" href="{{path('app_product_index')}}">Produits</a>
    {# <a class="nav-item nav-link" href="#">Catégorie</a> #}

    </div>
</div>
</nav>